In [3]:
#Q1.
# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}

# In - emp_info['Kathy']
# Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}


emp_info=dict([['Tom',{'email':'tom_latham019@gmail.com','Phone':+1987654321, 'City': 'California'}],
               ['Kathy',{'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}]])



print(emp_info['Tom'])
print(emp_info['Kathy'])

{'email': 'tom_latham019@gmail.com', 'Phone': 1987654321, 'City': 'California'}
{'email': 'kathy_abram897@gmail.com', 'Phone': 1887654321, 'City': 'New York'}

In [9]:
#Q2.
# Create a dictionary out of below inputs
# lst1 = ['emp1', 'emp2', 'emp3']
# emp_key = ['e_name', 'e_id', 'e_sal']
# emp1_val = ['John', 'SG101', '$10,000']
# emp2_val = ['Smith', 'SG102', '$9,000']
# emp3_val = ['Peter', 'SG103', '$9,500']

# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}

lst1 = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']

my_dictionary=dict([[lst1[0],{emp_key[0]:emp1_val[0],emp_key[1]:emp1_val[1],emp_key[2]:emp1_val[2]}],
                     [lst1[1],{emp_key[0]:emp2_val[0],emp_key[1]:emp2_val[1],emp_key[2]:emp2_val[2]}],
                     [lst1[2],{emp_key[0]:emp3_val[0],emp_key[1]:emp3_val[1],emp_key[2]:emp3_val[2]}]])

print(my_dictionary)

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [10]:
#Q3.
# Acess the value of key 'history'

sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

print(sampleDict["class"]["student"]["marks"]["history"])

80

In [11]:
#Q4.
# Initialize dictionary with default values. Inputs are:-
# employees = ['Kelly', 'Emma', 'John']
# defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'John': {'designation': 'Application Developer', 'salary': 8000}}

employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

SampleDict=dict([[employees[0],defaults],[employees[1],defaults],[employees[2],defaults]])

print(SampleDict)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [14]:
#Q5.
# In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.

# Use a dictionary to provide the mapping of DNA to RNA bases.

def Mapping():
    DNA=['A','T','C','G']
    RNA=['U','A','G','C']
    mRNA=dict([[DNA[0],RNA[0]],[DNA[1],RNA[1]],[DNA[2],RNA[2]],[DNA[3],RNA[3]]])
    return mRNA

print(Mapping())

{'A': 'U', 'T': 'A', 'C': 'G', 'G': 'C'}

In [21]:
#Q6.
# Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.
# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

def Count_Letter(x):
    y=''
    sampleDict=[]
    for i in x:
        if i not in y:
            y=y+i
    print(y)
    for j in y:
        sampleDict=sampleDict+[(j,x.count(j))]
        
    a=dict(sampleDict)
    return a

Count_Letter('google.com')

gole.cm

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [27]:
#Q7.
# A DNA strand consisting of the 4 nucleotide bases is usually represented with a string of letters: A,T, C, G. 
# Write a function that computes the base composition of a given DNA sequence.

# In - baseComposition("CTATCGGCACCCTTTCAGCA")
# Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }
    
# In - baseComposition("AGT")
# Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }

def baseComposition(x):
    SampleDict=[] 
    DNA=['A','C','T','G']

    for i in DNA:
        SampleDict=SampleDict+[(i,x.count(i))]
        
    a=dict(SampleDict)
    
    print(a)
    print()
    

baseComposition("CTATCGGCACCCTTTCAGCA")
baseComposition("ATG")

{'A': 4, 'C': 8, 'T': 5, 'G': 3}

{'A': 1, 'C': 0, 'T': 1, 'G': 1}

In [41]:
#Q8.
# [MCQ] Suppose "d" is an empty dictionary, which statement does not assign "d" with {"Name":"Tom"}? 
# 1. d = {"Name": "Tom" }
# 2. d["Name"] = "Tom"
# 3. d.update({"Name": "Tom" })
# 4. d.setdefault("Name", "Tom")
# 5. None of the above=====>All above option assign "d" with {"Name":"Tom"}

In [33]:
#Q9.
# [MCQ] 
#d = {"a":1, "b":2}. Which of the statements returns [1,2]? 
# 1. d.keys()
# 2. d.values()===>will return [1,2]
# 3. d.items()
# 4. d.popitem()
# 5. None of the above.

In [ ]:
#Q10.
# [MCQ] Which of the following declarations is not valid for 'dict' type?
# 1. d = {"Name": "Tom" }
# 2. d = { (1,3,4): 4.5 }
# 3. d = { ["First", "Last"]: (1,3) }===> is not valid for 'dict' type
# 4. d = { 1: 0.4 }
# 5. None of the above

In [5]:
#Q11.
# Write a function reverseLookup(dictionary, value) that takes in a dictionary 
# and a value as arguments and returns a sorted list of all keys that contains the value. 
# The function will return an empty list if no match is found.

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# Out - ['a']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# Out - ['b', 'c']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)
# Out - []
def reverseLookup(dictionary, value):
    sample=[]
    for i in dictionary:
        if dictionary[i]==value:
            sample=sample+[i]
    print(sample)

reverseLookup({'a':1, 'b':2, 'c':2}, 1)
reverseLookup({'a':1, 'b':2, 'c':2}, 2)
reverseLookup({'a':1, 'b':2, 'c':2}, 3)

['a']
['b', 'c']
[]

In [ ]:
#Q12.
# Write a function invertDictionary(d) that takes in a dictionary as argument and return a dictionary that inverts the keys and the values of the original dictionary.
# In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
# Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}
# In - invertDictionary({'a':3, 'b':3, 'c':3})
# Out - {3: ['a', 'c', 'b']}
# In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
# Out - {1: ['b', 'd'], 2: ['a', 'c']}

In [ ]:
#Q13.
# Write a function that converts a sparse vector into a dictionary as described above.
# In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])
# Out - {0: 1, 3: 2, 7: 3, 12: 4}
# In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
# Out - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
# In - convertVector([0, 0, 0, 0, 0])
# Out - {}

In [ ]:
#Q14.
# Write a function that converts a dictionary back to its sparse vector representation.
# In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})
# Out - [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
# In - convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})
# Out - [1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
# In - convertDictionary({})
# Out - []

In [2]:
#Q15.
# Given a Python dictionary, Change Brad’s salary to 8500
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 6500}
# }

# Expected Output
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 8500}
# }

sampleDict = {
      'emp1': {'name': 'Jhon', 'salary': 7500},
      'emp2': {'name': 'Emma', 'salary': 8000},
      'emp3': {'name': 'Brad', 'salary': 6500}
}


sampleDict['emp3']['salary']=8500

print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [4]:
#Q16.
# Get the key corresponding to the minimum value from the following dictionary
# sampleDict = {
#   'Physics': 82,
#   'Math': 65,
#   'history': 75
# }

# Expected Output
# Math

sampleDict = {
   'Physics': 82,
   'Math': 65,
   'history': 75
}
print(min(sampleDict,key=sampleDict.get))

Math

In [59]:
#Q17.
# Rename key city to location in the following dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
# }

# Expected Output
# {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "location": "New york"
# }

sampleDict = {
  "name": "Kelly",
   "age":25,
   "salary": 8000,
   "city": "New york"
 }

sampleDict["location"]=sampleDict["city"]

print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york', 'location': 'New york'}

In [2]:
#Q18.
# Check if a value 200 exists in a dictionary
# sampleDict = {'a': 100, 'b': 200, 'c': 300}

# Expected Output: True

sampleDict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sampleDict.values():
    print('True')

True

In [53]:
#Q19.
# Delete set of keys from Python Dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
  
# }
# keysToRemove = ["name", "salary"]

# Expected Output:
# {'city': 'New york', 'age': 25}


sampleDict = {
   "name": "Kelly",
   "age":25,
   "salary": 8000,
   "city": "New york"
}
  
sampleDict.pop("name")
sampleDict.pop("salary")
print(sampleDict)

{'age': 25, 'city': 'New york'}

In [54]:
#dir(dict)